<div class="row col-md-12"
    style="height: 100vh;  padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 0%;">
    <div class="row col-md-12" style="margin:0%; padding-right: 0%; height:50vh;">
        <div class="d-flex" style="width: 100%; height:50vh; background-image: url(http://172.18.2.45/intranet/assets/homepage_image.png);
            background-size:100%; background-position-x: 0; background-position-y: 15%; padding-right: 0%;">
            <div class="justify-self-end"
                style="margin-top:35vh; padding-right: 0%; width: 100%;background: rgb(0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(5,5,5,0.9331933456976541) 14%, rgba(31,31,31,0.748319396117822) 26%, rgba(255,255,255,0) 44%, rgba(255,255,255,0) 100%, rgba(70,70,70,1) 100%);">
                <p
                    style="margin-top:10vh; color: white; font-family: 'Montserrat'; font-size: 30px; font-weight: bolder;">
                    Core Value of the Month: Results-Driven</p>
            </div>
        </div>
    </div>
    <div class="row col-md-12"
        style="margin:0%; padding-right:0%; position:absolute; padding-top: 50vh; padding-left: 0%; margin-right: 0%; width: 99%;">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:white; width: 99%; height: 5vh;">
            <div class="d-flex justify-content-between" style="margin-left:5%; width: 90%;">
                <div class="p-2" class="hover_gray">
                    <a class="hover_gray">Core Values</a>
                </div>
                <div class="p-2"  class="hover_gray">
                    <a class="hover_gray">Event Calendar</a>
                </div>
                <div class="p-2"  class="hover_gray">
                    <a class="hover_gray">Forms</a>
                </div>
                <div class="p-2"  class="hover_gray">
                    <a class="hover_gray">Benefits</a>
                </div>
                <div class="p-2"  class="hover_gray">
                    <a class="hover_gray">Survey</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row col-md-12"
        style="margin:0%; padding-right:0%; position:absolute; padding-top: 56vh; padding-left: 0%; margin-right: 0%; width: 99%;">
        <div style="margin-left:45%; width:10%;border-bottom: solid 1px #F9423A;height: 1vh;">
        </div>
    </div>
    <div class="row col-md-12"
        style="margin:0%; padding-right:0%; position:absolute; padding-top: 56vh; padding-left: 0%; margin-right: 0%; width: 99%;">
        <h5></h5>
    </div>
</div>