<div class="row col-md-12"
    style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 0%;">
    <div class="row col-md-12" style="margin:0%; padding-right: 0%; height:50vh;">
        <div style="width: 100%; min-width: 836px; height:50vh; background-image: url(http://181.114.12.81/intranet/assets/homepage_image.png);
            background-size:100%; background-position-x: 0; background-position-y: 15%; padding-right: 0%;">
            <div _ngcontent-ppw-c16="" class="justify-self-end d-flex"
                style="margin-top: 35vh; padding-right: 0%; width: 100%; background: rgb(0,0,0); background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(5,5,5,0.9331933456976541) 14%, rgba(31,31,31,0.748319396117822) 26%, rgba(255,255,255,0) 44%, rgba(255,255,255,0) 100%, rgba(70,70,70,1) 100%);">
                <p _ngcontent-ppw-c16=""
                    style="margin-top: 9vh; height:6vh; color: white; font-family: Montserrat; font-size: 30px; font-weight: bolder; margin-bottom:0">
                    Core Value of the Month: Results-Driven</p>
            </div>
        </div>
    </div>
    <div class="row col-md-12" style="margin:0%; padding-right:0%; padding-left: 0%; margin-right: 0%; width: 99%;">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:white; width: 99%; height: 5vh;">
            <div class="d-flex justify-content-between" style="margin-left:4%; width: 92%;">
                <div class="p-2" class="hover_gray">
                    <a class="hover_gray">Our Core Values</a>
                </div>
                <div class="p-2" class="hover_gray">
                    <a class="hover_gray">Event Calendar</a>
                </div>
                <div class="p-2" class="hover_gray">
                    <a class="hover_gray">Experience</a>
                </div>
                <div class="p-2" class="hover_gray">
                    <a class="hover_gray">Benefits</a>
                </div>
                <div class="p-2" class="hover_gray">
                    <a class="hover_gray">Greate Place To Work</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row col-md-12"
        style="margin:0%; padding-right:0%; padding-left: 0%; margin-right: 0%; width: 99%;">
        <div style="margin-left:45%; width:10%;border-bottom: solid 1px #F9423A;height: 1%;">
        </div>
    </div>
    <div class="row col-md-12 d-flex justify-content-center"
        style="margin:0%; padding-right:0%; padding-left: 0%; margin-right: 0%; width: 99%;">
        <div class="p-2">
            <h5 style="color:gray; font-size:34px; font-weight: bolder;">Our Current Reads</h5>
        </div>
    </div>
    <div class="row col-md-12" style="margin:0%; padding-right:0%; padding-left: 1rem; margin-right: 0%; width: 99%; justify-content: space-between;">
        <div class="card row_card" style="background-color: #edeeee; padding:0%; margin:0%;">
            <img src="http://181.114.12.81/intranet/assets/hr_image_1.png" class="card-img-top" style="padding:0%; margin:0%" alt="...">
            <div class="card-body" style="padding:0%; margin-top:25px; margin-left:10px ">
              <h5 class="card-title" style="color: #003b71; font-weight: bolder; font-size: 30px">Father’s Day at NEARSOL</h5>
              <p class="card-text" style="font-size: 11px;color: gray;">It's time to honor and recognize our  hardworking and awesome Fathers/Dads/Papas/Tatays/Papsy
                  at NEARSOL. Show your love and appreciation to all Dads by creating a
                  TikTok video for a chance to win awesome prizes during the Father’s
                  Day Virtual Party on June 18, 2021! #NearsolSuperDad.<br><br>
                </p>
            </div>
            <div class="card-footer" style="margin:0%; padding:0%; border:none">
                <div class="row" style="margin:0%; padding:0%">
                    <a class="link-primary" style="color:#003b71; font-size: 12px; font-weight: bolder;" href="#" (click)="setSelection(0)" data-toggle="modal" data-target="#setArticle">READ</a>
                </div>
                <div class="row" style="margin:0%; padding:0%; border-top: solid 1px #F9423A;">
                    <p style="font-size: 10px; color:gray;">Author: HR June 16, 2021</p>
                </div>
            </div>
          </div>
          <div class="card row_card" style="background-color: #edeeee; padding:0%; margin:0%;">
            <img src="http://181.114.12.81/intranet/assets/recruitment_image_1.png" class="card-img-top" style="padding:0%; margin:0%" alt="...">
            <div class="card-body" style="padding:0%; margin-top:25px; margin-left:10px ">
              <h5 class="card-title" style="color: #003b71; font-weight: bolder; font-size: 30px;">NIA: NEARSOL Intelligence Automation</h5>
              <p class="card-text" style="font-size: 11px;color: gray;">We proudly present to you NIA, NEARSOL Recruitment Chatbot Recruitment Tool. 
                NIA helps us with lead generation, process 
                guidance and does all that while projecting our brand identity. She is not just a chatbot, she is so much more!<br><br>
                </p>
            </div>
            <div class="card-footer" style="margin:0%; padding:0%; border:none">
                <div class="row" style="margin:0%; padding:0%">
                    <a class="link-primary" style="color:#003b71; font-size: 12px; font-weight: bolder;" href="#">READ</a>
                </div>
                <div class="row" style="margin:0%; padding:0%; border-top: solid 1px #F9423A;">
                    <p style="font-size: 10px; color:gray;">Author: HR June 16, 2021</p>
                </div>
            </div>
          </div>
          <div class="card row_card" style="background-color: #edeeee; padding:0%; margin:0%;">
            <img src="http://181.114.12.81/intranet/assets/hr_image_2.png" class="card-img-top" style="padding:0%; margin:0%" alt="...">
            <div class="card-body" style="padding:0%; margin-top:25px; margin-left:10px ">
              <h5 class="card-title" style="color: #003b71; font-weight: bolder; font-size: 30px;">Intranet Forms</h5>
              <p class="card-text" style="font-size: 11px;color: gray;">You can now be part of NEARSOL's family posting information about our company, follow
                me up to see how easly it is and be part of our new Nearsol's Experience<br><br>
                </p>
            </div>
            <div class="card-footer" style="margin:0%; padding:0%; border:none">
                <div class="row" style="margin:0%; padding:0%">
                    <a class="link-primary" style="color:#003b71; font-size: 12px; font-weight: bolder;" href="#">READ</a>
                </div>
                <div class="row" style="margin:0%; padding:0%; border-top: solid 1px #F9423A;">
                    <p style="font-size: 10px; color:gray;">Author: HR June 16, 2021</p>
                </div>
            </div>
          </div>
    </div>

    <div class="row col-md-12" style="margin:0%; padding-right:0%; padding-left: 1rem; margin-right: 0%; width: 99%; justify-content: space-between; margin-top: 25px;">
        <div class="card row_card" style="background-color: #edeeee; padding:0%; margin:0%;">
            <img src="http://181.114.12.81/intranet/assets/hr_image_3.png" class="card-img-top" style="padding:0%; margin:0%" alt="...">
            <div class="card-body" style="padding:0%; margin-top:25px; margin-left:10px ">
              <h5 class="card-title" style="color: #003b71; font-weight: bolder; font-size: 30px">Pride Month 2021</h5>
              <p class="card-text" style="font-size: 11px;color: gray;">June is PRIDE Month! It's time to celebrate our courageous and colorful brothers and sisters
                in the LGBTQIA+ community! Be proud of who you are and say #IAMINCLUDED<br><br>
                </p>
            </div>
            <div class="card-footer" style="margin:0%; padding:0%; border:none">
                <div class="row" style="margin:0%; padding:0%">
                    <a class="link-primary" style="color:#003b71; font-size: 12px; font-weight: bolder;" href="#">READ</a>
                </div>
                <div class="row" style="margin:0%; padding:0%; border-top: solid 1px #F9423A;">
                    <p style="font-size: 10px; color:gray;">Author: HR June 16, 2021</p>
                </div>
            </div>
          </div>
          <div class="card row_card" style="background-color: #edeeee; padding:0%; margin:0%;">
            <img src="http://181.114.12.81/intranet/assets/recruitment_image_2.png" class="card-img-top" style="padding:0%; margin:0%" alt="...">
            <div class="card-body" style="padding:0%; margin-top:25px; margin-left:10px ">
              <h5 class="card-title" style="color: #003b71; font-weight: bolder; font-size: 30px;">Employee Referral Program: Refer a friend and receive a P10,000 incentive</h5>
              <p class="card-text" style="font-size: 11px;color: gray;">Refer a friend and receive the payouts on the 3rd and 6th months of the applicant’s joining date.<br><br>
                </p>
            </div>
            <div class="card-footer" style="margin:0%; padding:0%; border:none">
                <div class="row" style="margin:0%; padding:0%">
                    <a class="link-primary" style="color:#003b71; font-size: 12px; font-weight: bolder;" href="#">READ</a>
                </div>
                <div class="row" style="margin:0%; padding:0%; border-top: solid 1px #F9423A;">
                    <p style="font-size: 10px; color:gray;">Author: HR June 16, 2021</p>
                </div>
            </div>
          </div>
          <div class="card row_card" style="background-color: #edeeee; padding:0%; margin:0%;">
            <img src="http://181.114.12.81/intranet/assets/hr_image_4.png" class="card-img-top" style="padding:0%; margin:0%" alt="...">
            <div class="card-body" style="padding:0%; margin-top:25px; margin-left:10px ">
              <h5 class="card-title" style="color: #003b71; font-weight: bolder; font-size: 30px;">Employee Satisfaction Survey</h5>
              <p class="card-text" style="font-size: 11px;color: gray;">We are running our periodic Employee Satisfaction Survey and we would like to invite everyone to participate.
                Part of the results from the past surveys helped us improve some of our processes to enhance employee experience. Some of the changes we implemented<br>
                after hearing employees reviews were...<br>
                <br><br>
                </p>
            </div>
            <div class="card-footer" style="margin:0%; padding:0%; border:none">
                <div class="row" style="margin:0%; padding:0%">
                    <a class="link-primary" style="color:#003b71; font-size: 12px; font-weight: bolder;" href="#">READ</a>
                </div>
                <div class="row" style="margin:0%; padding:0%; border-top: solid 1px #F9423A;">
                    <p style="font-size: 10px; color:gray;">Author: HR June 16, 2021</p>
                </div>
            </div>
          </div>
    </div>
</div>

<!--------------------------------------------MODAL ARTICLES---------------------------------------------------------->
<div class="modal fade" id="setArticle" tabindex="-1" aria-labelledby="setArticle" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="st-setPatronoLabel" style="color:#003b71; font-weight: bolder;">{{selected_article.header}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row col-md-12">
                    <img src="{{selected_article.multimedia}}" class="card-img-top" style="padding:0%; margin:0%" alt="...">
                </div>
                <div class="row col-md-12" style="padding-top:25px">
                    <p>{{selected_article.article}}</p>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>