<div class="row col-md-12 d-flex" style="width: 100vw; height: 90vh; margin:0px; padding:0px; padding-left:0px; padding-right:0px;
    background: url(http://181.114.12.81/intranet/assets/login_page.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat">
    <div class="col-md-5" style="color: white; position:absolute;bottom:100px">
        <div class="row d-flex justify-content-start col-md-12"
            style="font-size: 40px; padding-top:50%;padding-left: 5%;">
            <p style="font-family: 'Montserrat Bold'">Welcome to NEARSOL</p>
        </div>
        <div class="row" style="width: 200px; border-bottom: 4px solid #F9423A; margin-left: 4%;">
        </div>
        <div class="row" style="padding-left: 45px; margin-top:15px; padding-right:65px;font-weight: bold;">
            <p>Always Customer Service is more than a policy: it is a culture manifested
                by upper management and transmitted throught the organization.
                We focus on delivering the best Customer Service and strive the exceed
                our customer expectations and needs. We are not just service providers,
                but allies to our partners as we are dedicated to delivering our promises
                and continously improving. NEARSOL belives in the power of cultivating
                great working relationships and promoting our culture of family.
        </div>
    </div>
</div>