h2 {
    color: #003b71;
}


input {
    border-radius: 10px;
    border: 2px solid #F9423A;
    color: gray;
}

input:active {
    border-radius: 10px;
    border: 2px solid #F9423A;
    color: gray;
}

input:focus {
    border-radius: 10px;
    border: 2px solid #F9423A;
    color: gray;
}

label {
    color: #003b71;
}

button {    
    border-radius: 10px;
    border: 2px solid #003b71;
    color: #003b71;
}

button:hover {
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: #003b71;
    color: white;
}