
<div class="row col-md-12">
  <section>
    <div class="col col-md-3 justify-content-between d-flex body-left" style="padding-bottom: 178px; margin-left: 0px; margin-right: 0px;" id="profileL">
      <div class="col col-md-12 justify-self-center">
        <div class="row col-md-12 justify-content-center" style="margin-top: 25px;">
          <img style="margin-left:5%; max-width: 200px; max-height: 200px; min-width: 100px; min-height: 100px; align-self: center;"
            src="./assets/user-profile-male-logo.jpg" height="160px" width="150" class="rounded-circle">
        </div>
        <div class="row col-md-12" style="margin-top: 25px;">
          <label>
            Name:
          </label>
          <input type="text" class="form-control" [(ngModel)]="workingEmployee.name">
        </div>
        <div class="row col-md-12">
          <label>
            Account:
          </label>
          <input type="text" class="form-control" [(ngModel)]="workingEmployee.account">
        </div>
        <div class="row col-md-12" style="margin-top: 25px;">
          <label>
            Client ID:
          </label>
          <input type="text" class="form-control" [(ngModel)]="workingEmployee.client_id">
        </div>
        <div class="row col-md-12" style="margin-top: 25px;">
          <label>
            Nearsol ID:
          </label>
          <input type="text" class="form-control" [(ngModel)]="workingEmployee.nearsol_id">
        </div>
        <div class="row col-md-12" style="margin-top: 25px;">
          <label>
            Supervisor:
          </label>
          <input type="text" class="form-control" [(ngModel)]="workingEmployee.reporter">
        </div>
        <div class="row col-md-12 d-flex" style="margin-top: 100px;">
          <div class="mr-auto p-2">
            <button class="btn btn-outline-success" (click)="uploadFile()" data-toggle="tooltip" data-placement="top"
              title="Edit profile">
              <i class="fas fa-user-edit"></i>
            </button>
          </div>
          <div class="mr-auto p-2">
            <button class="btn btn-outline-info" (click)="uploadFile()"  data-toggle="tooltip" data-placement="top"
              title="Upload file">
              <i class="fas fa-file-upload"></i>
            </button>
          </div>
          <div class="p-2">
            <button class="btn btn-outline-light" (click)="uploadFile()" data-toggle="tooltip" data-placement="top"
              title="Settings">
              <i class="fas fa-user-cog"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--  Right Side -->
    <div class="col-md-9" style="margin:0%; padding-right: 0%;" id="profileR">
      <!--  NAV TABS -->
      <div class="form-group col-md-16">
        <div class="col col-md-2"></div>
        <div class="col col-md-12">
          <table width=90% style="margin-left: 4%; margin-top:50px">
            <tr style="border-bottom: solid 4px #e3f2fd;">
              <td colspan="2" style="padding-top:30px">
                <nav width=100% style="border-top: 4px solid #e3f2fd;">
                  <div class="nav nav-tabs" id="nav-tab" role="tablist" width=100% style="padding-top:15px">
                    <a class="nav-item nav-link active" id="nav-attendence-tab" data-toggle="tab" href="#nav-attendence"
                      role="tab" aria-controls="nav-attendence" aria-selected="true">
                      Attendance
                    </a>
                    <a class="nav-item nav-link" id="nav-leavs-tab" data-toggle="tab" href="#nav-leavs" role="tab"
                      aria-controls="nav-leavs" aria-selected="false">
                      Leaves
                    </a>
                    <a class="nav-item nav-link" id="nav-vac-tab" data-toggle="tab" href="#nav-vac" role="tab"
                      aria-controls="nav-vac" aria-selected="false">
                      Vacations
                    </a>
                    <a class="nav-item nav-link" id="nav-justifications-tab" data-toggle="tab" href="#nav-justifications"
                      role="tab" aria-controls="nav-justifications" aria-selected="false">
                      Justifications
                    </a>
                    <a class="nav-item nav-link" id="nav-parking-tab" data-toggle="tab" href="#nav-parking" role="tab"
                      aria-controls="nav-parking" aria-selected="false" (click)="setService('parking')">
                      Parking
                    </a>
                    <a class="nav-item nav-link" id="nav-advances-tab" data-toggle="tab" href="#nav-advances" role="tab"
                      aria-controls="nav-advances" aria-selected="false">
                      Advances
                    </a>
                    <a class="nav-item nav-link" id="nav-transport-tab" data-toggle="tab" href="#nav-transport" role="tab"
                      aria-controls="nav-transport" aria-selected="false" (click)="setService('bus')">
                      Transport
                    </a>
                  </div>
                </nav>
              </td>
            </tr>
          </table>
        </div>
        <div class="col col-md-2"></div>
      </div>
      <!-- Body's page. -->
      <div class="form-group col-md-16" style="margin-top: 25px; margin-left: 35px;">
        <div class="form-row col-md-12">
          <div class="form-col col-md-12">
            <div class="tab-content" id="nav-tabContent" style="width: 100%; margin-left: 0px;">
              <!-- Attendences -->
              <div class="tab-pane fade show active" id="nav-attendence" role="tabpanel" aria-labelledby="nav-attendence-tab">
                <div class="form-row col-md-12">
                  <label style="font-size: 20px; font-weight: bold; margin-left:50%;margin-top: 10px;">ATTENDANCE</label>
                </div>
                <div class="form-row col-md-12">
                  <div class="form-group col-md-12">
                    <div class="form-row col-md-12">
                      <div class="form-group col-md-3">
                        <label>Date:</label>
                        <input type="date" class="form-control" (change)="getAttendences($event.target.value)" [value]="todayDate">
                      </div>
                    </div>
                    <div class="form-row col-md-12">
                      <table style="width:98%; padding: 1%;" class="table table-striped table-hover">
                        <thead>
                          <th>DATE</th>
                          <th>ROSTER</th>
                          <th>ATTENDED</th>
                          <th>BALANCE</th>
                          <th>IGSS</th>
                          <th>EXCEPTIONS</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let att of showAttendences" style="cursor:pointer" (click)="addJustificationatt(att)"
                            class="selectable" [ngClass]="{'table-danger': (att.balance === 'NS' || att.balance === 'JANP' || att.balance === 'SUSPENSION'),
                                                          'table-warning':att.balance < 0, 'table-success': att.balance > 0,
                                                          'table-info':att.balance === 'OFF' || att.balance === 'VAC',
                                                          'table-light':att.balance === 'HLD' || att.balance === 0}"
                            data-toggle="modal" data-target="#advanceModal">
                            <td>{{att.date}}</td>
                            <td>{{att.scheduled}}</td>
                            <td>{{att.worked_time}}</td>
                            <td>{{att.balance}}</td>
                            <td>{{att.igss}}</td>
                            <td>{{att.tk_exp}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Leaves -->
              <div class="tab-pane fade" id="nav-leavs" role="tabpanel" aria-labelledby="nav-leavs-tab">
                <div class="form-row col-md-12 divscroll">
                  <div class="form-group col-md-12">
                    <label style="font-size: 16px; font-weight: bold; margin-left:40%;margin-top: 10px;">
                      Leave History
                    </label>
                    <div class="form-row col-md-12">
                      <table style="width:98%; padding: 1%;" class="table table-striped table-hover">
                        <thead>
                          <th>PROCESS</th>
                          <th>MOTIVE</th>
                          <th>START DATE</th>
                          <th>END DATE</th>
                          <th>STATUS</th>
                        </thead>
                        <tbody>
                          <tr *ngFor="let leave of leaves" class="selectable" (click)="selectLeave(leave)">
                            <td>{{leave.id_type}}</td>
                            <td>{{leave.motive}}</td>
                            <td>{{leave.start}}</td>
                            <td>{{leave.end}}</td>
                            <td>{{leave.status}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="form-row col-md-12">
                      <div class="form-group col-md-2"></div>
                      <div class="form-group col-md-8" style="border-bottom: solid 4px #e3f2fd; height: 20px;"></div>
                      <div class="form-group col-md-2"></div>
                    </div>
                    <div class="form-row col-md-12" *ngIf="!vacationAdd || !editLeave">
                      <div class="form-group col-md-4"></div>
                      <div class="form-group col-md-2">
                        <button class="form-control" (click)="setLeave()" data-toggle="tooltip" data-placement="top"
                        title="Set">Set</button>
                      </div>
                      <div class="form-group col-md-6"></div>
                    </div>
                  </div>
                  <div class="form-group col-md-6" *ngIf="editLeave">
                    <label style="margin-left:40%; font-weight: bold; font-size:16px;">Set Leave</label>
                    <div class="form-row col-md-12">
                      <div class="form-group col-md-2"></div>
                      <div class="form-group col-md-8">
                        <label>Category:</label>
                        <select class="form-control" [(ngModel)]="activeLeave.motive" [disabled]="showLeave">
                          <option *ngFor="let motive of motives">{{motive}}</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2"></div>
                    </div>
                    <div class="form-row col-md-12">
                      <div class="form-group col-md-4">
                        <label>Start:</label>
                        <input type="date" class="form-control" [(ngModel)]="activeLeave.start" [disabled]="showLeave">
                      </div>
                      <div class="form-group col-md-4">
                        <label>End:</label>
                        <input type="date" class="form-control" [(ngModel)]="activeLeave.end" [disabled]="showLeave">
                      </div>
                      <div class="form-group col-md-4">
                        <label>Approved:</label>
                        <select class="form-control" [(ngModel)]="activeLeave.approved_by" [disabled]="showLeave">
                          <option *ngFor="let app of approvals" [value]="app.iduser">{{app.user_name}}
                          </option>
                        </select>
                      </div>
                    </div>
                    <div class="form-row col-md-12">
                      <div class="form-group col-md-12">
                        <label>Notes:</label>
                        <textarea class="form-control" width="100%" [(ngModel)]="activeLeave.notes"
                            [disabled]="showLeave"></textarea>
                      </div>
                    </div>
                    <div class="form-row col-md-12">
                      <div class="form-group col-md-4">
                        <label>User:</label>
                        <input type="text" [disabled]="true" class="form-control" [(ngModel)]="user.user_name" (value)="user.idusers">
                      </div>
                      <div class="form-group col-md-4">
                        <label>Date:</label>
                        <input type="text" [disabled]="true" class="form-control" [(ngModel)]="activeLeave.date">
                      </div>
                      <div class="form-group col-md-4">
                        <label>Status:</label>
                        <input type="text" class="form-control" [(ngModel)]="activeLeave.status" [disabled]="true">
                      </div>
                    </div>
                    <div class="form-row col-md-12">
                      <div class="form-group col-md-2">
                        <button class="form-control" (click)="cancelView()" *ngIf="editLeave || !showLeave">Cancel</button>
                      </div>
                      <div class="form-group col-md-8">
                      </div>
                      <div class="form-group col-md-2">
                        <button class="form-control" (click)="insertLeave()" *ngIf="editLeave && !showLeave">Accept</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Vacations -->
              <div class="tab-pane fade" id="nav-vac" role="tabpanel" aria-labelledby="nav-vac-tab">
                <div class="form-group col-md-16 divscroll" style="margin-top: 0px; margin-left: 0px;">
                  <div class="form-row col-md-12">
                    <div class="form-col col-md-6">
                      <label style="font-size: 16px; font-weight: bold; margin-left: 40%; margin-top: 10px;">
                        Vacations
                      </label>
                      <div class="form-row col-md-12">
                        <div class="form-group col-md-3"></div>
                        <div class="form-group col-md-2">
                          <label>Earned:</label>
                          <input type="text" class="form-control" [(ngModel)]="earnVacations" [disabled]="true">
                        </div>
                        <div class="form-group col-md-2">
                          <label>Took:</label>
                          <input type="text" class="form-control" [(ngModel)]="tookVacations" [disabled]="true">
                        </div>
                        <div class="form-group col-md-2">
                          <label>Available:</label>
                          <input type="text" class="form-control" [disabled]="true" [(ngModel)]="availableVacations">
                        </div>
                        <div class="form-group col-md-3"></div>
                      </div>
                      <div class="form-row col-md-12">
                        <table style="width:98%; padding: 1%;" class="table">
                          <tbody *ngFor="let v of vac">
                            <tr style="height: 30px; font-weight: bold;" class="tr-hover" (click)="v.vacSelected(!v.selected)">
                              <td style="align-items: center; text-align: center;">
                                <i class="far fa-plus-square" *ngIf="v.selected==false" ([ngModel])="v"></i>
                                <i class="far fa-minus-square" *ngIf="v.selected==true" ([ngModel])="v"></i>
                                Year: {{ v.year }}
                              </td>
                            </tr>
                            <tr *ngIf="v.selected==true" class="tr-nohover">
                              <td>
                                <table style="width:98%; padding: 1%;" class="table table-striped table-hover">
                                  <thead>
                                    <th>PROCESS</th>
                                    <th>ACTION</th>
                                    <th>COUNT</th>
                                    <th>DATE</th>
                                    <th>STATUS</th>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let vacation of v.vacations"
                                      (click)="getVacations(vacation)" class="selectable">
                                      <td>{{vacation.id_type}}</td>
                                      <td>{{vacation.action}}</td>
                                      <td>{{vacation.count}}</td>
                                      <td *ngIf="v.year==vacation.year">{{vacation.took_date}}
                                      </td>
                                      <td *ngIf="v.year==vacation.year">{{vacation.status}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="form-row col-md-12">
                        <div class="form-group col-md-2"></div>
                        <div class="form-group col-md-8"></div>
                        <div class="form-group col-md-2"></div>
                      </div>
                      <div class="form-row col-md-12" *ngIf="!vacationAdd">
                        <div class="form-group col-md-1"></div>
                        <div class="form-group col-md-3">

                        </div>
                        <div class="form-group col-md-4"></div>
                        <div class="form-group col-md-3">
                          <button class="form-control" (click)="addVacation('Take', '4')" *ngIf="availableVacations > 0" data-toggle="tooltip" data-placement="top"
                            title="Take">
                            Take
                          </button>
                          <button [disabled]="true" class="form-control" (click)="addVacation('Take', '4')" *ngIf="availableVacations === 0" data-toggle="tooltip" data-placement="top"
                          title="Take">
                            Take
                          </button>
                        </div>
                        <div class="form-group col-md-1"></div>
                      </div>
                    </div>
                    <div class="form-col col-md-6" style="border-left: solid 4px #e3f2fd;" *ngIf="vacationAdd">
                      <div class="form-row col-md-12">
                        <div class="form-group col-md-2"></div>
                        <div class="form-group col-md-8">
                          <label>Date:</label>
                          <input type="date" class="form-control"
                            (change)="pushVacationDate($event.target.value)" *ngIf="editVac">
                          <input type="text" class="form-control" [(ngModel)]="activeVacation.took_date" *ngIf="!editVac" disabled="true">
                        </div>
                        <div class="form-group col-md-2"></div>
                      </div>
                      <div class="form-row col-md-12">
                        <div class="form-group col-md-12">
                          <label>Notes:</label>
                          <textarea class="form-control" width="100%" [disabled]="!editVac" [(ngModel)]="activeVacation.notes"></textarea>
                        </div>
                      </div>
                      <div class="form-row col-md-12">
                        <div class="form-group col-md-3">
                          <label>Date:</label>
                          <input type="text" class="form-control" disabled="true"
                            [(ngModel)]="activeVacation.date">
                        </div>
                        <div class="form-group col-md-3">
                          <label>Days:</label>
                          <select class="form-control" [(ngModel)]="activeVacation.count"
                            [disabled]="!editVac">
                            <option>1</option>
                            <option>0.5</option>
                          </select>
                        </div>
                        <div class="form-group col-md-3">
                          <label>Status:</label>
                          <input type="text" class="form-control" [(ngModel)]="activeVacation.status" [disabled]="true">
                        </div>
                        <div class="form-group col-md-3">
                          <label>User:</label>
                          <input type="text" class="form-control" disabled="true" [(ngModel)]="user.username" (value)="user.idusers">
                        </div>
                      </div>
                      <div class="form-row col-md-12">
                        <div class="form-group col-md-2">
                          <button class="form-control" (click)="cancelVacation()" *ngIf="editVac">
                            Cancel
                          </button>
                        </div>
                        <div class="form-group col-md-8">
                          <button class="form-control" (click)="cancelView()" *ngIf="!editVac">
                            Return
                          </button>
                        </div>
                        <div class="form-group col-md-2">
                          <button class="form-control" (click)="insertVacation()" *ngIf="editVac">
                            Accept
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Justifications -->
              <div class="tab-pane fade" id="nav-justifications" role="tabpanel" aria-labelledby="nav-justifications-tab">
                <div class="form-group col-md-16" style="margin-top: 0px; margin-left: 0px;">
                  <div class="form-row col-md-12">
                    <div class="form-col col-md-12">
                      <div class="form-row col-md-12">
                        <label style="margin-left:45%; font-size: 16px; font-weight: bold;">Justifications</label>
                      </div>
                      <div class="form-row col-md-12">
                        <div class="form-group col-md-4">
                          <label>Date:</label>
                          <input type="date" class="form-control" (change)="getAttendences($event.target.value)" [ngModel]="dateVac" (ngModelChange)="dateVac = $event">
                        </div>
                        <div class="form-group col-md-8">
                        </div>
                      </div>
                      <div class="form-row col-md-12">
                        <div class="form-row col-md-12" style="overflow: auto; max-height: 480px; min-height: 20px;">
                          <table style="width:98%; padding: 1%;" class="table table-striped table-hover">
                            <thead>
                              <th>DATE</th>
                              <th>USER</th>
                              <th>Status</th>
                              <th>AMOUNT</th>
                            </thead>
                            <tbody>
                              <tr style="cursor:pointer" *ngFor="let adj of showAttAdjustments"
                                (click)="getRecordAdjustment(adj.id_justification)" class="selectable ponter"
                                data-toggle="modal" data-target="#advanceModal">
                                <td>{{adj.date}}</td>
                                <td>{{adj.id_user}}</td>
                                <td>{{adj.state}}</td>
                                <td>{{adj.amount}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="form-row col-md-11 d-flex justify-content-between mt-2">
                        <div class="form-col col-md-9 justify-self-center">

                        </div>
                        <div class="form-row col-md-2 gap-2 d-md-flex justify-content-md-end">
                          <button class="btn btn-link"  (click)="getAttAllAdjustment()" *ngIf="showAttAdjustments.length<=16" data-toggle="tooltip" data-placement="top"
                          title="Show more justifications">
                            Show More
                          </button>
                          <button class="btn btn-link"  (click)="getAttAdjustemt()" *ngIf="showAttAdjustments.length>16" data-toggle="tooltip" data-placement="top"
                            title="Show less justifications">
                            Show Less
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Parking -->
              <div class="tab-pane fade" id="nav-parking" role="tabpanel" aria-labelledby="nav-parking-tab">
                <div class="form-group col-md-16" style="margin-top: 25px; margin-left: 0px;">
                  <div class="form-row col-md-12">
                    <div class="form-col col-md-12">
                      <div class="form-row col-md-12" *ngIf="parking" style="margin-top:25px; margin-left: 0px;">
                        <div class="form-row col-md-10">
                          <div class="form-group col-md-3"></div>
                          <div class="form-group col-md-6">
                            <label>Type:</label>
                            <select class="form-control" [(ngModel)]="activeService.name"
                              [disabled]="storedParking&&status=='Browse'">
                              <option>Car Parking</option>
                              <option>Motorcycle Parking</option>
                            </select>
                          </div>
                          <div class="form-group col-md-3"></div>
                        </div>
                        <div class="form-row col-md-12">
                          <div class="form-group col-md-4">
                            <label>Amount:</label>
                            <input type="text" [(ngModel)]="activeService.amount" class="form-control"
                              [disabled]="storedParking&&status=='Browse'">
                          </div>
                          <div class="form-group col-md-4"></div>
                          <div class="form-group col-md-4">
                            <label>Frecuency:</label>
                            <select class="form-control" [(ngModel)]="activeService.frecuency"
                              [disabled]="storedParking&&status=='Browse'">
                              <option>BIWEEKLY</option>
                              <option>MONTHLY</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group col-md-12">
                          <label>Notes:</label>
                          <textarea class="form-control" width="100%" [(ngModel)]="activeService.notes"
                            #message='ngModel' [disabled]="storedParking&&status=='Browse'"></textarea>
                        </div>
                        <div class="form-row col-md-12">
                          <div class="form-group col-md-4">
                            <label>Date:</label>
                            <input type="text" class="form-control" [disabled]="true"
                              [(ngModel)]="activeService.date" datetime="yyyy-MM-dd">
                          </div>
                          <div class="form-group col-md-4">
                            <label>User:</label>
                            <input type="text" class="form-control" [disabled]="true"
                              [(ngModel)]="activeService.id_user">
                          </div>
                          <div class="form-group col-md-4">
                            <label>Status:</label>
                            <input type="text" class="form-control" [disabled]="true"
                              [(ngModel)]="activeService.proc_status">
                          </div>
                        </div>
                        <div class="form-row col-md-12" style="margin-top:15px" *ngIf="!storedParking||parking">
                            <div class="form-group col-md-2">
                              <button class="form-control button-del" (click)="cancelService()" *ngIf="status!='Browse'">
                                Cancel
                              </button>
                            </div>
                            <div class="form-group col-md-2">
                              <button class="form-control button-edit" (click)="editService()"
                                *ngIf="status=='Browse'" data-toggle="tooltip" data-placement="top" title="Edit Service">
                                Edit
                              </button>
                            </div>
                            <div class="form-group col-md-2">
                            </div>
                            <div class="form-group col-md-2">
                            </div>
                            <div class="form-group col-md-2">
                              <button class="form-control button-add" (click)="saveService()" *ngIf="status!='Browse'">
                                Accept
                              </button>
                            </div>
                        </div>
                      </div>
                      <div class="form-row col-md-12" *ngIf="!parking" style="margin-top:25px; margin-left: 0px;">
                        <div class="form-group col-md-5"></div>
                        <div class="form-group col-md-2">
                          <button class="form-control" (click)="activeParking()">Active</button>
                        </div>
                        <div class="form-group col-md-5"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Advances -->
              <div class="tab-pane fade" id="nav-advances" role="tabpanel" aria-labelledby="nav-advances-tab">
                <div class="form-group col-md-16" style="margin-top: 25px; margin-left: 0px;">
                  <div class="form-row col-md-12">
                    <div class="form-col col-md-12">
                      <div class="form-group col-md-12 d-flex" style="margin-top: 25px;" *ngIf="actuallProc.name != 'Advance'">
                        <div class="form-col col-md-3 mr-auto"></div>
                        <div class="form-col col-md-3 mr-auto p-2">
                          <button class="form-control" (click)="setProcess(actuallProc)">Add Advance</button>
                        </div>
                        <div class="form-col col-md-3 mr-auto p-2"></div>
                      </div>
                      <div class="form-group col-md-12"style="margin-top: 25px;" *ngIf="actuallProc.name === 'Advance'">
                        <div class="form-row col-md-12">
                          <label style="font-size: 20px; font-weight: bold; margin-top: 10px; text-align: center; width: 100%;">
                            ADVANCES
                          </label>
                        </div>
                        <div class="form-row col-md-12">
                            <div class="form-gorup col-md-4">
                                <label>User:</label>
                                <input type="text" class="form-control" [(ngModel)]="actuallProc.user_name"
                                    [disabled]="true">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Status:</label>
                                <input type="text" class="form-control" [(ngModel)]="actuallProc.status"
                                    [disabled]="true">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Date:</label>
                                <input type="text" class="form-control" [(ngModel)]="actuallProc.prc_date"
                                    [disabled]="true">
                            </div>
                        </div>
                        <div class="form-row col-md-12">
                            <div class="form-group col-md-4">
                                <label>Type:</label>
                                <select class="form-control" [(ngModel)]="actualAdvance.type" [disabled]="viewRecProd">
                                    <option>Sueldo</option>
                                    <option>Bono 14</option>
                                    <option>Aguinaldo</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Monto:</label>
                                <input type="text" class="form-control" [(ngModel)]="actualAdvance.amount"
                                    [disabled]="viewRecProd">
                            </div>
                            <div class="form-group col-md-4">
                                <label>Classification:</label>
                                <input type="text" class="form-control" [(ngModel)]="actualAdvance.classification"
                                    [disabled]="viewRecProd">
                            </div>
                        </div>
                        <div class="form-row col-md-12">
                            <div class="form-group col-md-12">
                                <label>Description:</label>
                                <textarea class="form-control" width="100%" [(ngModel)]="actualAdvance.description"
                                    [disabled]="viewRecProd"></textarea>
                            </div>
                        </div>
                        <div class="form-row col-md-12" *ngIf="!viewRecProd || !addProc">
                            <div class="form-group col-md-2">
                                <button class="form-control" (click)="cancelView()">Cancel</button>
                            </div>
                            <div class="form-group col-md-8"></div>
                            <div class="form-group col-md-2" *ngIf="!viewRecProd">
                                <button class="form-control" (click)="insertProc()">Accept</button>
                            </div>
                        </div>
                      </div>
                      <div class="form-group col-md-12" style="margin-top: 25px; border-top: solid 4px #e3f2fd;">
                        <table class="table table-striped table-hover selectable"
                                  style="text-align: center; margin-top:20px" width=100%>
                                  <thead>
                                      <th>ID</th>
                                      <th>Activivity</th>
                                      <th>User</th>
                                      <th>Status</th>
                                  </thead>
                                  <tbody>
                                      <tr *ngFor="let pr of processRecord" (click)="viewProcess(pr)">
                                          <td>{{pr.idprocesses}}</td>
                                          <td>{{pr.name}}</td>
                                          <td>{{pr.user_name}}</td>
                                          <td>{{pr.status}}</td>
                                      </tr>
                                  </tbody>
                              </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Transport (bus) -->
              <div class="tab-pane fade" id="nav-transport" role="tabpanel" aria-labelledby="nav-transport-tab">
                <div class="form-row col-md-12" *ngIf="bus" style="margin-top:25px">
                  <div class="form-row col-md-12">
                    <div class="form-group col-md-3"></div>
                    <div class="form-group col-md-6">
                      <label>Type:</label>
                      <select class="form-control" [(ngModel)]="activeService.name" (change)="setBus()" [disabled]="storedBus&&status=='Browse'">
                        <option>Daily Bus {{todayDate}}</option>
                        <option>Monthly Bus</option>
                      </select>
                    </div>
                    <div class="form-group col-md-3"></div>
                  </div>
                  <div class="form-row col-md-12">
                    <div class="form-group col-md-4">
                      <label>Amount:</label>
                      <input type="text" [(ngModel)]="activeService.amount" class="form-control" [disabled]="storedBus&&status=='Browse'">
                    </div>
                    <div class="form-group col-md-4"></div>
                    <div class="form-group col-md-4">
                      <label>Frecuency:</label>
                      <input type="text" class="form-control" *ngIf="activeService.name != 'Monthly Bus'"
                        [disabled]="true" [(ngModel)]="activeService.frecuency" [disabled]="storedBus&&status=='Browse'">
                      <select class="form-control" *ngIf="activeService.name == 'Monthly Bus'" [(ngModel)]="activeService.frecuency" [disabled]="storedBus&&status=='Browse'">
                        <option>BIWEEKLY</option>
                        <option>MONTHLY</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label>Notes:</label>
                    <textarea class="form-control" width="100%" [(ngModel)]="activeService.notes"
                      #message='ngModel' [disabled]="storedBus&&status=='Browse'"></textarea>
                  </div>
                  <div class="form-row col-md-12">
                    <div class="form-group col-md-4">
                      <label>Date:</label>
                      <input type="text" class="form-control" [disabled]="true" [(ngModel)]="activeService.date">
                    </div>
                    <div class="form-group col-md-4">
                        <label>User:</label>
                        <input type="text" class="form-control" [disabled]="true" [(ngModel)]="activeService.id_user">
                    </div>
                    <div class="form-group col-md-4">
                      <label>Status:</label>
                      <input type="text" class="form-control" [disabled]="true" [(ngModel)]="activeService.proc_status">
                    </div>
                  </div>
                  <div class="form-row col-md-12" style="margin-top:15px" *ngIf="storedBus&&status=='Browse'">
                    <div class="form-group col-md-2">
                      <button class="form-control button-edit" (click)="editBus()"
                        data-toggle="tooltip" data-placement="top" title="Edit Service">
                        Edit
                      </button>
                    </div>
                  </div>
                  <div class="form-row col-md-12" style="margin-top:15px" *ngIf="!storedBus||status!='Browse'">
                    <div class="form-group col-md-2">
                      <button class="form-control" (click)="cancelService()">Cancel</button>
                    </div>
                    <div class="form-group col-md-8"></div>
                    <div class="form-group col-md-2">
                      <button class="form-control" (click)="insertService('bus')">Accept</button>
                    </div>
                  </div>
                </div>
                <div class="form-row col-md-12" *ngIf="!bus" style="margin-top:25px">
                  <div class="form-group col-md-5"></div>
                  <div class="form-group col-md-2">
                    <button class="form-control" (click)="activeBus()">Active</button>
                  </div>
                  <div class="form-group col-md-5"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Modal -->
<div class="modal fade" id="advanceModal" tabindex="-1" role="dialog" aria-labelledby="advanceModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between mt-2">
        <div class="form-col justify-self-center">
          <h5 class="modal-title justify-content-center" id="advanceModalLabel" style="text-align: center;">
            Paperwork Reception
          </h5>
        </div>
        <div class="form-col justify-self-right">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group col-md-12" *ngIf="addJ">
          <div class="form-row col-md-12">
            <label>Reason:</label>
              <select class="form-control" [(ngModel)]="attAdjudjment.reason" [disabled]="editAdj">
                <option>IGSS</option>
                <option>Private Doctor</option>
                <option>Marriage Certificate</option>
                <option>Death Certificate</option>
                <option>Birth Certificate</option>
                <option *ngIf="attAdjudjment.reason === 'WFM Correction'">
                  WFM Correction
                </option>
                <option *ngIf="attAdjudjment.reason === 'Supervisor Exception'">
                  Supervisor Exception
                </option>
              </select>
          </div>
          <div class="form-row col-md-12">
            <div class="form-group col-md-6">
              <label>Date:</label>
              <input type="date" [(ngModel)]="attAdjudjment.attendance_date" class="form-control">
            </div>
            <div class="form-group col-md-3">
              <label>Before:</label>
              <input type="text" [disabled]="true" [(ngModel)]="attAdjudjment.time_before" class="form-control"
                [disabled]="editAdj">
            </div>
            <div class="form-group col-md-3">
              <label>After:</label>
              <input type="text" [(ngModel)]="attAdjudjment.time_after" class="form-control" [disabled]="true">
            </div>
          </div>
          <div class="form-row col-md-12">
            <div class="form-group col-md-4" *ngIf="!editAdj">
              <label>Start:</label>
              <input type="time" class="form-control" [(ngModel)]="attAdjudjment.start" (change)="change_time($event)">
            </div>
            <div class="form-group col-md-4" *ngIf="!editAdj">
              <label>End:</label>
              <input type="time" class="form-control" [(ngModel)]="attAdjudjment.end" (change)="change_time($event)">
            </div>
            <div class="form-group col-md-4">
              <label>Value:</label>
              <input type="text" class="form-control" [(ngModel)]="attAdjudjment.amount" [disabled]="true">
            </div>
          </div>
          <div class="form-row col-md-12">
            <div class="form-group col-md-12">
              <label>Notes:</label>
              <textarea class="form-control" width="100%" [(ngModel)]="attAdjudjment.notes" #message='ngModel'
                [disabled]="editAdj"></textarea>
            </div>
          </div>
          <div class="form-row col-md-12">
            <div class="form-group col-md-12">
              <button class="form-control">
                UPLOAD
              </button>
            </div>
          </div>
          <div class="form-row col-md-12">
            <div class="form-group col-md-4">
              <label>User:</label>
              <input type="text" [disabled]="true" [(ngModel)]="user.user_name" class="form-control" *ngIf="!editAdj">
              <input type="text" [disabled]="true" [(ngModel)]="user.idusers" class="form-control" *ngIf="editAdj">
            </div>
            <div class="form-group col-md-4">
              <label>Date:</label>
              <input type="text" [disabled]="true" [(ngModel)]="attAdjudjment.date" class="form-control">
            </div>
            <div class="form-group col-md-4">
              <label>Status:</label>
              <input type="text" [disabled]="true" [(ngModel)]="attAdjudjment.state" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="cancelAdjustment()" class="form-control" data-dismiss="modal" >Cancel</button>
        <button (click)="insertAdjustment()" class="form-control" data-dismiss="modal" >Accept</button>
      </div>
    </div>
  </div>
</div>
