<nav class="navbar navbar-expand-lg navbar-light p-4" style="background-color:white; font-family: 'Montserrat Light';">
  <div class="mr-auto">
    <a class="navbar-brand">
      <img src="./assets/Nearsol_logo.png" class="d-inline-block align-top" alt=""
        style="margin-left: 0%; max-width:200px; height:35px; min-width:100px;">
    </a>
  </div>
  <div class="ml-auto" style="padding:0%; margin:0%;">
    <div class="row justify-content-center" style="margin-right:0px">
      <div *ngIf="getAuth() && !search" class="align-self-center" style="margin-right: 15px;">
        <button class="menu_button_1"><i class="fas fa-search" (click)="setSearch()"></i></button>
      </div>
      <div class="row" *ngIf="getAuth() && search" style="margin-right:15px; height: 38px;">
        <div class="input-group form-group" style="margin:0%; padding:0%;">
          <div class="input-group-prepend" id="btn_search" (click)="searchNow()" data-toggle="modal"
            data-target="#setSearch">
            <span class="input-group-text hover_blue_gray"><i class="fas fa-search"></i></span>
          </div>
          <input type="text" class="form-control" [(ngModel)]="searchText" (keyup.enter)="keyupSearch()">
          <div class="input-group-append">
            <span class="input-group-text hover_blue_gray" (click)="setSearch()"><i class="fas fa-times"></i></span>
          </div>
        </div>
      </div>
      <div class="dropdown" *ngIf="getAuth()" style="margin-right:15px">
        <button class="menu_button_1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{current_site}}</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"
          style="background-color: #edeeee;  font-size: 20px; color: #F9423A;">
          <a class="dropdown-item" *ngFor="let site of sites" (click)="setCurrentSite(site)"
            [ngStyle]="{'color':current_site === site?'#F9423A':'black'}"
            style="text-align:center; cursor: pointer;">{{site}}</a>
        </div>
      </div>
      <button class="btn hover_blue" style=" font-size: 14px;" *ngIf="getAuth()" routerLink="./"
        (click)="logOut()">
        LOG OUT
      </button>
      <form class="form-inline" *ngIf="!getAuth()">
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"
            style="border-radius: 10px; background-color: #003b71; color: white;  min-width:100px; max-width:115px;">
            SIGN IN
          </button>
          <div class="d-flex" style="width:1vw">
            <form class="dropdown-menu p-2 row" aria-labelledby="dropdownMenuButton"
              style="margin-left:-200%; background-color: #edeeee; min-width: 245px;">
              <div class="form-group" style="margin-top:25px">
                <label for="exampleDropdownFormEmail2" class="col-md-3 col-form-label"
                  style="font-size: 12px;">USERNAME</label>
                <input class="form-control col-sm-9" id="exampleDropdownFormEmail2" [(ngModel)]="username"
                  [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group" style="margin-top:25px">
                <label for="exampleDropdownFormEmail2" class="col-md-3 col-form-label"
                  style="font-size: 12px;">PASSWORD</label>
                <input type="password" class="form-control col-sm-9" id="exampleDropdownFormEmail2"
                  [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="d-flex justify-content-center" style="margin-top:25px">
                <button type="submit" class="btn hover_blue" style="font-size: 12px;"
                  (click)="login()" data-toggle="dropdown">LOG IN</button>
              </div>
            </form>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
<div class="row col-md-12" style="margin:0%; padding-right:0%; padding-left: 0%; margin-right: 0%; width: 99%;"
  *ngIf="getAuth() && current_site != 'Global' && !this.route.snapshot.url.toString().includes('home')">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:white; width: 99%; height: 5vh;">
    <div class="d-flex justify-content-between" style="margin-left:4%; width: 92%;">
      <div class="p-2" class="hover_gray">
        <a class="hover_gray" routerLink="/admin-homepage">Admin</a>
      </div>
      <div class="p-2" class="hover_gray">
        <a class="hover_gray" routerLink="#">Facilities</a>
      </div>
      <div class="p-2" class="hover_gray">
        <a class="hover_gray" routerLink="/hr-homepage" (click)="SetSel('hr-homepage')"
          [ngClass]="{'act':selectedOption=='hr-homepage'}">Human Resources</a>
      </div>
      <div class="p-2" class="hover_gray">
        <a class="hover_gray" routerLink="#">IT</a>
      </div>
      <div class="p-2" class="hover_gray">
        <a class="hover_gray" routerLink="/marketing-homepage">Marketing</a>
      </div>
      <div class="p-2" class="hover_gray">
        <a class="hover_gray" routerLink="/ops-homepage">Operations</a>
      </div>
      <div class="p-2" class="hover_gray">
        <a class="hover_gray" routerLink="#">Finance</a>
      </div>
      <div class="p-2" class="hover_gray">
        <a class="hover_gray" routerLink="#">QA</a>
      </div>
      <div class="p-2" class="hover_gray">
        <a class="hover_gray" routerLink="/re-homepage">Recruitment</a>
      </div>
      <div class="p-2" class="hover_gray">
        <a class="hover_gray" routerLink="/wf-homepage">Workforce</a>
      </div>
    </div>
  </nav>
</div>
<div style="padding-right: 0px;">
  <router-outlet></router-outlet>
</div>
<!--------------------------------------------MODAL SEARCH---------------------------------------------------------->
<div class="modal fade" id="setSearch" tabindex="-1" aria-labelledby="setSearch" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title" id="st-setPatronoLabel" style="color:#003b71; ">
          SEARCH
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row col-md-12" *ngFor="let article of searchRes" style="margin-left:0.1rem; border-radius:10px; margin-top:10px; border:solid #edeeee 1px; background-color: #edeeee;cursor: pointer; max-height: 186px;">
          <div class="form-group col-md-4" style="margin-bottom:5px; margin-top:5px;
          margin-bottom: 5px;
          margin-top: 5px;
          background: url('{{article.multimedia}}');
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;">
          </div>
          <div class="top-right justify-content-center"
          style="font-size: 12px; color: white; height: 20px">
          <label
              style="position:absolute; padding:0px; margin:0px; top:2px; right:5%;background-color: #F9423A;padding-left:10px; padding-right:5px;display: inline;"><nobr>{{article.origin}}</nobr></label>
          </div>
          <div class="form-group col-md-8">
            <div class="row col-md-12">
              <label style="color: #003b71;  font-size: 20px;">{{article.header}}</label>
            </div>
            <div class="row col-md-12">
              <label style="font-size: 14px;color: gray;">{{article.fragment}}</label>
            </div>
            <div class="row" style="margin:0%; padding:0%">
              <a class="link-primary" style="color:#003b71; font-size: 12px; " href="#"
                  (click)="setSelection(article)" data-dismiss="modal" data-toggle="modal" data-target="#setArticleHome">
                  Read More
              </a>
          </div>
            <div class="row col-md-12" style="margin:0%; padding:0%; border-top: solid 1px #F9423A; margin-top:5px;">
              <div class="ml-auto"  >
              <p style="font-size: 10px; color:gray;">
                    {{ article.author }} | {{ article.date }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer d-flex">
        <div class="ml-auto">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--------------------------------------------MODAL ARTICLES---------------------------------------------------------->
<div class="modal fade" id="setArticleHome" tabindex="-1" aria-labelledby="setArticleHome" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="card-title" id="st-setPatronoLabel" style="color:#003b71; ">
                  {{selected_article.header + ": " + selected_article.byline }}
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body" style="margin-left:25px; padding:0px">
            <div class="row col-md-12" style="height:80vh; margin-top:20px; max-height: 450px;">
              <div class="form-group col-md-12" style="margin-bottom:5px; margin-top:5px;
              margin-bottom: 5px;
              margin-top: 5px;
              background-image: url({{selected_article.multimedia}});
              background-position: center center;
              background-repeat: no-repeat;
              background-size: cover;">
              </div>
            </div>
            <div class="row col-md-12" style="padding-top:25px">
              <div [innerHTML]="selected_article.article">
              </div>
            </div>
          </div>
          <div class="modal-footer d-flex">
              <div class="mr-auto" *ngIf="selected_article.url!==''">
                  Link:
                  <a class="link-primary" style="color:#003b71; font-size: 12px; "
                      [href]="selected_article.url"  target="_blank">
                      {{ selected_article.url }}
                  </a>
              </div>
              <div class="ml-auto">
                  <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>
</div>