<div class="row col-md-12"
    style="padding-top: 0.5rem; padding-bottom: 0.5rem; padding-left: 1rem; padding-right: 0%;">
    <div class="row col-md-12" style="margin:0%; padding-right: 0%; height:50vh;">
        <div style="width: 100%; min-width: 836px; height:50vh; background-image: url(./assets/hr_image_2.png);
            background-size:100%; background-position-x: 0; background-position-y: 15%; padding-right: 0%;">
            <div _ngcontent-ppw-c16="" class="justify-self-end d-flex"
                style="margin-top: 35vh; padding-right: 0%; width: 100%; background: rgb(0,0,0); background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(5,5,5,0.9331933456976541) 14%, rgba(31,31,31,0.748319396117822) 26%, rgba(255,255,255,0) 44%, rgba(255,255,255,0) 100%, rgba(70,70,70,1) 100%);">
                <p _ngcontent-ppw-c16=""
                    style="margin-top: 9vh; height:6vh; color: white; font-family: Montserrat; font-size: 30px; font-weight: bolder; margin-bottom:0">
                    Intranet Forms
            </div>
        </div>
    </div>
    <div class="row col-md-12" style="margin:0%; padding-right:0%; padding-left: 0%; margin-right: 0%; width: 99%;">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:white; width: 99%; height: 5vh;">
            <div class="d-flex justify-content-between" style="margin-left:4%; width: 92%;">
                <div class="p-2" class="hover_gray">
                    <a class="hover_gray">Calendar </a>
                </div>
                <div class="p-2" class="hover_gray">
                    <a class="hover_gray">Holiday Announcement</a>
                </div>
                <div class="p-2" class="hover_gray">
                    <a class="hover_gray">Lorem ipsum</a>
                </div>
                <div class="p-2" class="hover_gray">
                    <a class="hover_gray">Lorem ipsum</a>
                </div>
                <div class="p-2" class="hover_gray">
                    <a class="hover_gray">Lorem ipsum</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="row col-md-12"
        style="margin:0%; padding-right:0%; padding-left: 0%; margin-right: 0%; width: 99%;">
        <div style="margin-left:45%; width:10%;border-bottom: solid 1px #F9423A;height: 1%;">
        </div>
    </div>
    <div class="row col-md-12 d-flex justify-content-center"
        style="margin:0%; padding-right:0%; padding-left: 0%; margin-right: 0%; width: 99%;">
        <div class="p-2">
            <h5 style="color:gray; font-size:34px; font-weight: bolder;">Our Current Reads</h5>
        </div>
    </div>
    <div class="row col-md-12" style="margin:0%; padding-right:0%; padding-left: 1rem; margin-right: 0%; width: 99%; justify-content: space-between;">
        <div class="card row_card" style="background-color: #edeeee; padding:0%; margin:0%;">
            <img src="./assets/hr_image_5.png" class="card-img-top" style="padding:0%; margin:0%" alt="...">
            <div class="card-body" style="padding:0%; margin-top:25px; margin-left:10px ">
              <h5 class="card-title" style="color: #003b71; font-weight: bolder; font-size: 30px">Pride Month</h5>
              <p class="card-text" style="font-size: 11px;color: gray;">
                June is PRIDE Month! It's time to celebrate our courageous and colorful brothers and sisters in the 
                LGBTQIA+ community! Be proud of who you are and say #IAMINCLUDED
                <br><br>
                  <a style="color:#003b71">READ</a>
                </p>
            </div>
            <div class="card-footer" style="margin:0%; padding:0%; border-top: solid 1px #F9423A;">
              <p style="font-size: 10px; color:gray;">Author: HR June 16, 2021</p>
            </div>
          </div>
          <div class="card row_card" style="background-color: #edeeee; padding:0%; margin:0%;">
            <img src="./assets/hr_image_1.png" class="card-img-top" style="padding:0%; margin:0%" alt="...">
            <div class="card-body" style="padding:0%; margin-top:25px; margin-left:10px ">
              <h5 class="card-title" style="color: #003b71; font-weight: bolder; font-size: 30px;">Father’s Day</h5>
              <p class="card-text" style="font-size: 11px;color: gray;">
                It's time to honor and recognize our  hardworking and awesome Fathers/Dads/Papas/Tatays/Papsy 
                at NEARSOL. Show your love and appreciation to all Dads by creating a 
                TikTok video for a chance to win awesome prizes during the Father’s
                Day Virtual Party on June 18, 2021! #NearsolSuperDad.<br><br>
                <a style="color:#003b71">READ</a>
              </p>
              
            </div>
            <div class="card-footer" style="margin:0%; padding:0%; border-top: solid 1px #F9423A;">
                <p style="font-size: 10px; color:gray;">Author: HR June 16, 2021</p>
            </div>
          </div>
          <div class="card row_card" style="background-color: #edeeee; padding:0%; margin:0%;">
            <img src="./assets/hr_image_2.png" class="card-img-top" style="padding:0%; margin:0%" alt="...">
            <div class="card-body" style="padding:0%; margin-top:25px; margin-left:10px ">
              <h5 class="card-title" style="color: #003b71; font-weight: bolder; font-size: 30px;">Intranet Forms</h5>
              <p class="card-text" style="font-size: 11px;color: gray;">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut augue rhoncus, accumsan odio sed, bibendum metus. 
                Ut bibendum metus sit amet lorem egestas dignissim. Proin ultricies lacus ligula, eu venenatis purus fermentum dignissim. 
                Integer lacinia lectus ligula. Nullam consectetur eget orci id mollis. Nullam sed ligula sit amet lectus hendrerit 
                dapibus et vel ipsum. Aliquam sit amet vestibulum lacus. Aliquam sollicitudin pretium ex, a tempor ante semper hendrerit. 
                Nulla condimentum laoreet lorem, quis bibendum orci tempor at. Vestibulum in sapien nec orci dapibus scelerisque vel nec lorem. 
                Phasellus ullamcorper, risus vel viverra pellentesque, metus eros consequat mauris, non porttitor eros sem eget urna. 
                Nunc vitae aliquam quam, ac pulvinar lorem. Fusce vulputate ante gravida, pulvinar magna ut, posuere urna. 
                In porta arcu auctor orci mattis dignissim. Maecenas lacinia tellus nec nisi vestibulum, non rhoncus ante sodales.
                <br><br>
                  <a style="color:#003b71">READ</a>
                </p>
            </div>
            <div class="card-footer" style="margin:0%; padding:0%; border-top: solid 1px #F9423A;">
                <p style="font-size: 10px; color:gray;">Author: Marketing June 16, 2021</p>
            </div>
          </div>
    </div>

    <div class="row col-md-12" style="margin:0%; padding-right:0%; padding-left: 1rem; margin-right: 0%; width: 99%; justify-content: space-between; margin-top: 25px;">
        <div class="card row_card" style="background-color: #edeeee; padding:0%; margin:0%;">
            <img src="./assets/hr_image_4.png" class="card-img-top" style="padding:0%; margin:0%" alt="...">
            <div class="card-body" style="padding:0%; margin-top:25px; margin-left:10px ">
              <h5 class="card-title" style="color: #003b71; font-weight: bolder; font-size: 30px">Survey Results</h5>
              <p class="card-text" style="font-size: 11px;color: gray;">We are running our periodic Employee Satisfaction Survey and we would like to invite everyone to participate.

                Part of the results from the past surveys helped us improve some of our processes to enhance employee experience. Some of the changes we implemented after hearing employees reviews were:
                
                Payroll Query response time
                Earlier and more timely release of payslips
                More timely communication of performance standing
                Annual Performance Reviews
                
                Some of these are still work in progress but we have initiated plans to see it through and implement long term.
                
                Your opinions matter and we would love to hear from each one of you.
                
                We will close the survey on June 15, 2021 so please take a few minutes to respond so that your voice may be heard.
                
                Thank you and we look forward to your participation.
                <br><br>
                  <a style="color:#003b71" href="https://docs.google.com/forms/d/e/1FAIpQLScDGPthCF9XqvR9D8WczR9uEEqJlI87Wq5UgyWvnpfzMglZYg/viewform" target="_blank">
                    Link
                  </a>
                </p>
            </div>
            <div class="card-footer" style="margin:0%; padding:0%; border-top: solid 1px #F9423A;">
                <p style="font-size: 10px; color:gray;">Author: HR June 16, 2021</p>
            </div>
          </div>
          <!--
          <div class="card row_card" style="background-color: #edeeee; padding:0%; margin:0%;">
            <img src="http://181.114.12.81/intranet/assets/recruitment_image_1.png" class="card-img-top" style="padding:0%; margin:0%" alt="...">
            <div class="card-body" style="padding:0%; margin-top:25px; margin-left:10px ">
              <h5 class="card-title" style="color: #003b71; font-weight: bolder; font-size: 30px;">NEARSOL Intelligence Automation</h5>
              <p class="card-text" style="font-size: 11px;color: gray;">We proudly present to you NIA, NEARSOL Recruitment Chatbot Recruitment Tool. 
                NIA helps us with lead generation, process 
                guidance and does all that while projecting our brand identity. She is not just a chatbot, she is so much more!<br><br>
                  <a style="color:#003b71">READ</a>
                </p>
            </div>
            <div class="card-footer" style="margin:0%; padding:0%; border-top: solid 1px #F9423A;">
                <p style="font-size: 10px; color:gray;">Author: Recruitment June 16, 2021</p>
            </div>
          </div>
          <div class="card row_card" style="background-color: #edeeee; padding:0%; margin:0%;">
            <img src="http://181.114.12.81/intranet/assets/hr_image_2.png" class="card-img-top" style="padding:0%; margin:0%" alt="...">
            <div class="card-body" style="padding:0%; margin-top:25px; margin-left:10px ">
              <h5 class="card-title" style="color: #003b71; font-weight: bolder; font-size: 30px;">Intranet Forms</h5>
              <p class="card-text" style="font-size: 11px;color: gray;">You can now be part of NEARSOL's family posting information about our company, follow
                me up to see how easly it is and be part of our new Nearsol's Experience<br><br>
                  <a style="color:#003b71">Go to</a>
                </p>
            </div>
            <div class="card-footer" style="margin:0%; padding:0%; border-top: solid 1px #F9423A;">
                <p style="font-size: 10px; color:gray;">Author: Marketing June 16, 2021</p>
            </div>
          </div>
          -->
    </div>
</div>