<div class="row col-md-12 p-0" style="height: 100vh;">
  <div class="row col-md-12 p-0" style="margin:0%">
    <div class="d-flex p-0"
      style="width: 100%; height:65vh; background-image: url(./assets/hr-forms.png); background-size:100%; margin-left:1.5%;">
      <div class="justify-self-end"
        style="margin-top:30vh; width: 100%; background: rgb(0,0,0);
              background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(56,56,56,1) 17%, rgba(187,187,187,0.7147059507396709) 33%, rgba(255,255,255,0.6306723372942927) 47%, rgba(255,255,255,0) 100%, rgba(70,70,70,1) 100%);">
        <p style="margin-top:30vh; color: white; font-family: 'Montserrat'; font-size: 30px; font-weight: bolder;">
          hr-homepage
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row col-md-12" style="margin:0%; padding-right:0%; padding-left: 0%; margin-right: 0%; width: 99%;" *ngIf="getAuth()">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:white; width: 99%; height: 5vh;">
      <div class="d-flex justify-content-between" style="margin-left:4%; width: 92%;">
          <div class="hover_gray" style="margin-top: -80px;">
              <a class="hover_gray" routerLink="#">Event Calendar</a>
          </div>
          <div class="hover_gray" style="margin-top: -80px;">
              <a class="hover_gray" routerLink="#">Holiday Announcement</a>
          </div>
          <div class="hover_gray" style="margin-top: -80px;">
              <a class="hover_gray" routerLink="#" (click)="SetSel('hr-homepage')"
                [ngClass]="{'act':selectedOption=='#'}">Lorem Ipsum</a>
          </div>
          <div class="hover_gray" style="margin-top: -80px;">
              <a class="hover_gray" routerLink="#">Lorem Ipsum</a>
          </div>
          <div class="hover_gray" style="margin-top: -80px;">
              <a class="hover_gray" routerLink="#">Lorem Ipsum</a>
          </div>
          <div class="hover_gray" style="margin-top: -80px;">
              <a class="hover_gray" routerLink="#">Lorem Ipsum</a>
          </div>
      </div>
  </nav>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col cards">
      <div class="card h-100">
        <img src="./assets/hr-forms.png" class="card-img-top card_image" alt="Father's Day">
        <div class="card-body">
          <h5 class="card-title">Father's Day</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetuer adipiscing elit, sed dlam nonum my nibh euismod tincidunt ut laoreet dolore magna</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="./assets/hr-forms.png" class="card-img-top card_image" alt="Forms">
          <div class="card-body">
            <h5 class="card-title">Forms</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetuer adipiscing elit, sed dlam nonum my nibh euismod tincidunt ut laoreet dolore magna</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="./assets/hr-forms.png" class="card-img-top card_image" alt="Pride Month">
            <div class="card-body">
              <h5 class="card-title">Pride Month</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetuer adipiscing elit, sed dlam nonum my nibh euismod tincidunt ut laoreet dolore magna</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
</div>