/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Montserrat Light';
}

.hover_blue{
    border: 1px solid #003b71;
    border-radius: 7px;
    color:#003b71;
}

.hover_blue:hover{
    border: 1px solid white;
    border-radius: 7px;
    color: white;
    background-color: #003b71;
}

.menu_button_1{
    border:none;
    font-weight: bolder;
    font-size: 20px;
    color: gray;
    background-color: white;
}

.menu_button_1:focus{
    border:none;
    font-weight: bolder;
    font-size: 20px;
    color: #003b71;
    background-color: #edeeee;
}

.dropdown-item:hover{
    background-color: #e0e1e2;
}

.hover_gray{
    cursor:pointer;
    font-size: 18px;
    color:gray;
    font-weight: bolder;
}

.hover_gray:hover{
    color:#F9423A;
}

.row_card{
    width:30%;
    min-width: 200px;
}

.card-img-top:hover{
    cursor:pointer;
}

.top-right {
    position: absolute;
    padding-top:10px;
    top: 8px;
    right: -1px;
  }

.card-img-top{
    max-height: 321px;
}